# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.venv/
ENV/

# VS Code / IDE configuration
.vscode/
.idea/

# OS metadata
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
